.list {
    margin: 0px;
    padding: 10px;
    border: 1px solid rgb(238, 237, 239);
}

.list__item {
    padding: 10px;
    display: grid;
    grid-template-columns: 25px 1fr 25px;
    list-style-type: none;
    border-bottom: 1px solid rgb(238, 237, 239);
}

.list__position {
    justify-self: start;
    align-self: center;
    padding-left: 10px;
}

.list__item--done {
    text-decoration: line-through;
}

.list__item--hidden {
    display: none;
}

.list__button {
    font-size: 17px;
    transition: 1s;
    color: white;
    border: none;
}

.list__button--red {
    height: 30px;
    width: 30px;
    background-color: red;
}

.list__button--red:hover {
    background-color: rgba(255, 0, 0, 0.500);
}

.list__button--green {
    height: 30px;
    width: 30px;
    font-size: 17px;
    background-color: green;
}

.list__button--green:hover {
    background-color: rgba(0, 128, 0, 0.500);
}